<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VintellX | Projects</title>
    <link type="text/css" rel="stylesheet" href="static/CSS/style.css">
</head>
<body>
    <div class="main" id="main">
        <header>
            <nav class="navbar">
                <a class="vintellx" href="{{ url_for('index') }}">VintellX</a>
                <div class="navMiddle">
                    <ul class="navMenu">
                        <li class="navItem"><a href="{{ url_for('index') }}">About Me</a></li>
                        <li class="navItem active"><a href="{{ url_for('projects') }}">Projects</a></li>
                        <li class="navItem"><a href="{{ url_for('pubkey') }}">Pub Key</a></li>
                        <li class="navItem"><a href="{{ url_for('blog') }}">Blog</a></li>
                        <li class="navItem"><a href="{{ url_for('spotify') }}">Spotify</a></li>
                    </ul>
                </div>
                <div class="navRight">
                    <button id="dark-mode-toggle" class="themeToggle" aria-label="Toggle Theme">
                        <svg id="light-mode" class="hidden" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <circle cx="12" cy="12" r="5" stroke=var(--color1) stroke-width="2"/>
                            <line x1="12" y1="1" x2="12" y2="4" stroke=var(--color1) stroke-width="2"/>
                            <line x1="12" y1="20" x2="12" y2="23" stroke=var(--color1) stroke-width="2"/>
                            <line x1="4.22235" y1="4.22235" x2="6.343" y2="6.343" stroke=var(--color1) stroke-width="2"/>
                            <line x1="17.657" y1="17.657" x2="19.7777" y2="19.7777" stroke=var(--color1) stroke-width="2"/>
                            <line x1="1" y1="12" x2="4" y2="12" stroke=var(--color1) stroke-width="2"/>
                            <line x1="20" y1="12" x2="23" y2="12" stroke=var(--color1) stroke-width="2"/>
                            <line x1="4.22235" y1="19.7777" x2="6.343" y2="17.657" stroke=var(--color1) stroke-width="2"/>
                            <line x1="17.657" y1="6.343" x2="19.7777" y2="4.22235" stroke=var(--color1) stroke-width="2"/>
                        </svg>
                        <svg id="dark-mode" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
                        </svg>
                    </button>
                    <div class="menuIcon">
                        <div class="menuIconLine"></div>
                        <div class="menuIconLine"></div>
                        <div class="menuIconLine"></div>
                    </div>
                </div>
            </nav>
        </header>
        <br>
		<div class="container">
			<h3 class="display"> My Projects </h3>
			<div class="row">
				<div class="col-8">
					<ol>
						{% for project in projects %}
						<li class="proj-li"> <p class="project-title cool-a"> {{ project.title }} </p>
							<p class="project-desc"><i> {{ project.description }} </i></p>
							<p class="project-links cool-a">
								{% if project.links.youtube %}
								[<a href="{{ project.links.youtube }}">Youtube</a>]
								{% else %}
								[<s>Youtube</s>]
								{% endif %}
								{% if project.links.web %}
								[<a href="{{ project.links.web }}">Web</a>]
								{% else %}
								[<s>Web</s>]
								{% endif %}
								{% if project.links.github %}
								[<a href="{{ project.links.github }}">Github</a>]
								{% else %}
								[<s>Github</s>]
								{% endif %}
							</p>
						</li>
						{% endfor %}
					</ol>
				</div>
				<div class="col-1 hideonmobile">
				</div>
				<div class="col-3">
					<div class="leftRule">
						<h4 class="display1"> Total {{ total }} links present </h4>
						<p>
							<ul class='btn-ul'>
								<li class="button2 button-medium button-mobile btn-color2"> YouTube {{ youtube }} </li>
								<li class="button2 button-medium button-mobile btn-color2"> Web {{ web }} </li>
								<li class="button2 button-medium button-mobile btn-color2"> Github {{ github }} </li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		</div>
    </div>
    <script src="static/JS/script.js"></script>
    <footer class="cool-a" class="cool-a">
        2025 © Vinayak Pandey (<a href="https://github.com/VintellX">VintellX</a>) ; my <a href="https://github.com/VintellX/VintellX.github.io">code</a> is free to use with attributes.
    </footer>
</body>
</html>
